<%- include('head-template'); %>
<form action="" method="post" class="needs-validation" id="theForm">
    <div class="form-floating mb-3">
        <input type="email" class="form-control shadow" id="floatingEmail" required>
        <label for="floatingEmail">Email</label>
    </div>
    <button onclick="validateForm()" type="submit" class="btn btn-primary">Send Email</button>
</form>
<%- include('foot-template'); %>